<div class="modal-header">
  <h5 class="modal-title pull-left">Settlement Detail</h5>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class='fade show modal-body' style='text-align: center' *ngIf="loadPage">
  <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
  Loading...
</div>
<div class="modal-body" *ngIf="loadPage == false">
  <app-div-cash *ngIf="paymentId==1"  [readOnly]="true" [data]="data"></app-div-cash>
  <app-div-edc *ngIf="paymentId==2 || paymentId==3" [readOnly]="true" [data]="data"></app-div-edc>
  <app-div-giro *ngIf="paymentId==4"  [readOnly]="true" [data]="data"></app-div-giro>
  <app-div-voucher *ngIf="paymentId==5"  [readOnly]="true" [data]="data"></app-div-voucher>
  <app-div-bank-transfer *ngIf="paymentId==6" [readOnly]="true" [data]="data"></app-div-bank-transfer>
  <app-div-deposit-ipd *ngIf="paymentId==7" [readOnly]="true" [data]="data"></app-div-deposit-ipd>
  <app-div-payer *ngIf="paymentId==9" [readOnly]="true" [data]="data"></app-div-payer>
  <app-div-digital-payment *ngIf="paymentId==10" [readOnly]="true" [data]="data" [isPaymentSettlement]="true"></app-div-digital-payment>
  <app-div-qris *ngIf="paymentId==11" [readOnly]="true" [data]="data"></app-div-qris>
  <app-div-prepaid *ngIf="paymentId==12" [readOnly]="true" [data]="data"></app-div-prepaid>
</div>
