<div class="modal-header">
    <h5  class="modal-title pull-left">Medical Order</h5>
    <button  class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>
<div class='fade show modal-body' style='text-align: center;' *ngIf="loadPage">
    <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
    Loading...
</div>
<div class="modal-body" [hidden]="loadPage">
    <c-col xs="12">
        <app-table-medical-order [dataMedicalOrder]="dataMedicalOrder" [status]="'payment'"></app-table-medical-order>
        <pagination *ngIf="paging.total_row > 0"
            [boundaryLinks]="true"
            [totalItems]="paging.total_row"
            [(ngModel)]="current_page"
            (pageChanged)="pageChanged($event)"
            [itemsPerPage]="paging.rows_per_page"
            [rotate]="false"
            [maxSize]="10" [disabled]="loadPage">
          </pagination>
    </c-col>
</div>
<div class="modal-footer d-block">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button cButton color="primary" type="button" size="sm" (click)="bsModalRef.hide()">
            <svg cIcon class="me-2" name="cil-x"></svg> Close
        </button>
    </div>
</div>
