<div class="col-md-12" id="divSettlementBankTransfer">
  <app-card-app title='Bank Transfer'>
    <c-card-body *ngIf="_readOnly; else elseBlock">
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label-sm">Bank</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" readonly="readonly" value="{{data.bank_name}}">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label-sm">Account No.</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" readonly="readonly" value="{{data.account_no}}">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label-sm">Account Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" readonly="readonly" value="{{data.account_name}}">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label-sm">Transfer Date</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" readonly="readonly" value="{{data.transfer_date | date:'dd-MMM-yyyy HH:mm'}}">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label-sm">Reference No.</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" readonly="readonly" value="{{data.reference_no}}">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label-sm">Receipt Bank Acc</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" readonly="readonly" value="{{data.receipt_bank_acc_name}}">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label-sm">Notes</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" readonly="readonly" value="{{data.notes}}">
        </div>
      </div>
    </c-card-body>

    <ng-template #elseBlock>
      <c-card-body>
        <form [formGroup]="form">
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label-sm" for="bank">Bank</label>
            <div class="col-sm-6">
              <ng-select id="search-lob" formControlName="bank"
              [ngClass]="isFormValid('bank')"
              (ngModelChange)="onChangeBank($event)">
                <ng-option selected="" disabled="">-- Select Bank --</ng-option>
                <ng-option *ngFor="let bank of bankList" [value]="bank">{{bank.value}}</ng-option>
              </ng-select>
              <div *ngIf="isFormError('bank')" class="text-danger">
                <div *ngFor="let e of getErrors('bank') | keyvalue">{{ getErrorMessage('bank', e.key) }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label-sm" for="account-no">Account No.</label>
            <div class="col-sm-6">
              <input type="text" id="account-no" formControlName="accountNo" 
              class="form-control form-control-sm" [ngClass]="isFormValid('accountNo')"
              (ngModelChange)="onChangeAccountNo($event)">
              <div *ngIf="isFormError('accountNo')" class="text-danger">
                <div *ngFor="let e of getErrors('accountNo') | keyvalue">{{ getErrorMessage('accountNo', e.key) }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label-sm" for="account-name">Account Name</label>
            <div class="col-sm-6">
              <input type="text" id="account_name" formControlName="accountName" 
              class="form-control form-control-sm" [ngClass]="isFormValid('accountName')"
              (ngModelChange)="onChangeAccountName($event)">
              <div *ngIf="isFormError('accountName')" class="text-danger">
                <div *ngFor="let e of getErrors('accountName') | keyvalue">{{ getErrorMessage('accountName', e.key) }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label-sm" for="transfer-date">Transfer Date</label>
            <div class="col-sm-6">
              <input type="date" id="transfer-date" formControlName="transferDate" 
              class="form-control form-control-sm" [ngClass]="isFormValid('transferDate')"
              (ngModelChange)="onChangeTransferDate($event)">
              <div *ngIf="isFormError('transferDate')" class="text-danger">
                <div *ngFor="let e of getErrors('transferDate') | keyvalue">{{ getErrorMessage('transferDate', e.key) }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label-sm" for="reference-no">Reference No.</label>
            <div class="col-sm-6">
              <input type="text" id="reference_no" formControlName="referenceNo" 
              class="form-control form-control-sm" [ngClass]="isFormValid('referenceNo')"
              (ngModelChange)="onChangeReferenceNo($event)">
              <div *ngIf="isFormError('referenceNo')" class="text-danger">
                <div *ngFor="let e of getErrors('referenceNo') | keyvalue">{{ getErrorMessage('referenceNo', e.key) }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label-sm" for="receipt-bank-acc">Receipt Bank Acc</label>
            <div class="col-sm-6">
              <ng-select id="search-lob" formControlName="receiptBankAcc"
              [ngClass]="isFormValid('receiptBankAcc')"
              (ngModelChange)="onChangeReceiptBankAcc($event)">
                <ng-option selected="" disabled="">-- Select Receipt Bank Acc --</ng-option>
                <ng-option *ngFor="let receipt of receiptBankList" [value]="receipt">{{receipt.value}}</ng-option>
              </ng-select>
              <div *ngIf="isFormError('receiptBankAcc')" class="text-danger">
                <div *ngFor="let e of getErrors('receiptBankAcc') | keyvalue">{{ getErrorMessage('receiptBankAcc', e.key) }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label-sm" for="notes">Notes</label>
            <div class="col-sm-6">
              <input type="text" id="notes" formControlName="notes" 
              class="form-control form-control-sm" [ngClass]="isFormValid('notes')"
              (ngModelChange)="onChangeNotes($event)">
            </div>
          </div>
        </form>
      </c-card-body>
    </ng-template>
  </app-card-app>
</div>
