<div class='fade show' style='text-align: center; padding-top: calc(100vh / 2); height: 100vh' *ngIf="loadPage">
  <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
  Loading...
</div>
<div *ngIf="loadPage==false">
<c-row ngPreserveWhitespaces>
  <app-card-combined-bill readonly="true" [data]="combinedBill" [loadPage]="loadCombinedBillCard"></app-card-combined-bill>
</c-row>
<c-row ngPreserveWhitespaces>
  <app-card-patient-info readonly="true" [data]="patientInfo" [loadPage]="loadPatientInfoCard"></app-card-patient-info>
</c-row>
<c-row ngPreserveWhitespaces>
  <app-card-ordered-item readonly="true" [data]="orderedItem" [readOnly]="true" [loadPage]="loadOrderedItemCard"></app-card-ordered-item>
</c-row>
<c-row ngPreserveWhitespaces>
  <app-card-sales-discount readonly="true" [data]="salesDiscount" [loadCard]="loadInputSalesDiscountCard" [invoiceNo]="invoiceNo"></app-card-sales-discount>
</c-row>
<c-row ngPreserveWhitespaces>
  <ng-template contextDisposer let-context>
    <app-card-invoice readonly="true" [data]="invoice" [showFooter]="true" 
    [patientInfo]="patientInfo" [(paymentData)]="payment" [disabledForm]="true"
    [showPrintButton]="context.checkAction('0224_print_invoice_sementara')"
    [payment]="true"
    (loadPaymentEvent)="loadPayment($event)" [loadPage]="loadInvoiceCard" [orderedItemList]="orderedItem">
    </app-card-invoice>
  </ng-template>
</c-row>

<c-row ngPreserveWhitespaces *ngIf="invoice.patient_balance != 0">
  <app-card-app title='Payment' [show]="showPaymentCard">
    <c-card-body>
      <form [formGroup]="fs.form">
        <c-row class="mb-3">
          <c-col xs="6">
            <app-card-app title='Amount to be Settled'>
              <c-card-body>
                  <div class="row mb-3">
                    <label for="amountToBeSettled" class="col-sm-4 col-form-label" cLabel>Amount to
                      settled</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-sm" id="amountToBeSettled"
                        [disabled]="readOnlyAmountToSettled" value="{{payment.amount_to_settled | number}}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="settleAmount" class="col-sm-4 col-form-label" cLabel>Settled
                      Amount</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-sm" id="settleAmount"
                        [disabled]="readOnlySettleAmount"  value="{{payment.settle_amount | number}}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="balance" class="col-sm-4 col-form-label" cLabel>Balance</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-sm" id="balance" [disabled]="readOnlyBalance"
                      value="{{payment.balance | number}}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="depositBalance" class="col-sm-4 col-form-label" cLabel>Deposit
                      Balance</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-sm" id="depositBalance"
                        [disabled]="readOnlyDeposit" value="{{ payment.deposit_balance | number}}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="amount" class="col-sm-4 col-form-label" cLabel>Amount</label>
                    <div class="col-sm-6">
                      <fieldset [disabled]="readOnlyAmount">
                        <input cFormControl type="text" id="amount" formControlName="amount" 
                        class="form-control form-control-sm currency_input"
                        [ngClass]="fs.isFormValid('amount')"
                        (ngModelChange)="onChangePaymentAmount($event)"
                        numeric>
                      </fieldset>
                      <div *ngIf="fs.isFormError('amount')" class="text-danger">
                        <div *ngFor="let e of fs.getFormErrors('amount') | keyvalue">{{ fs.getFormErrorMessage('amount', e.key) }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="paymentMode" class="col-sm-4 col-form-label" cLabel>Payment
                      Mode</label>
                    <div class="col-sm-6">
                      <fieldset [disabled]="readOnlyPaymentMode">
                        <select cSelect id="paymentMode" formControlName="paymentMode" 
                        class="form-select form-select-sm" 
                        [ngClass]="fs.isFormValid('paymentMode')"
                        (ngModelChange)="onChangePaymentMode($event)">
                          <option selected="" disabled="">-- Select Payment Mode --</option>
                          <option *ngFor="let p of paymentModeList" [ngValue]="p">{{ p.value }}</option>
                        </select>
                      </fieldset>
                      <div *ngIf="fs.isFormError('paymentMode')" class="text-danger">
                        <div *ngFor="let e of fs.getFormErrors('paymentMode') | keyvalue">{{ fs.getFormErrorMessage('paymentMode', e.key) }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3" id="divQrisBank" style="display: none">
                    <label for="qrisBank" class="col-sm-4 col-form-label" cLabel>Bank</label>
                    <div class="col-sm-6">
                      <select class="form-select form-select-sm" id="qrisBank" [disabled]="readOnlyBank">
                        <option selected></option>
                        <option value="1">Nobu</option>
                        <option value="2">CIMB Niaga</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="netPayment" class="col-sm-4 col-form-label" cLabel>Net</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-sm" id="netPayment" [disabled]="readOnlyNet" value="{{payment.net | number}}">
                    </div>
                  </div>
                
              </c-card-body>
            </app-card-app>
          </c-col>
          <c-col xs="6">
            <app-div-bank-transfer [(data)]="bankTransfer" [readOnly]="!paymentMode.bankTransfer" 
              [(formValid)]="formValid.bankTransfer" [submitted]="fs.submitted" 
              [hidden]="!paymentMode.bankTransfer">
            </app-div-bank-transfer>
            <app-div-cash [(data)]="cash" [readOnly]="!paymentMode.cash" 
              [(formValid)]="formValid.cash" [submitted]="fs.submitted" [payment]="payment" 
              [hidden]="!paymentMode.cash">
            </app-div-cash>
            <app-div-deposit-ipd [hidden]="!paymentMode.depositIpd"></app-div-deposit-ipd>
            <app-div-digital-payment [(data)]="digitalPayment" 
              [readOnly]="!paymentMode.digitalPayment" [(formValid)]="formValid.digitalPayment" 
              [(submitted)]="fs.submitted" [transactionType]="'Payment'" [patientInfo]="patientInfo" 
              [invoice]="invoice" [payment]="payment" [hidden]="!paymentMode.digitalPayment" 
              [paymentFormValid]="fs.valid">
            </app-div-digital-payment>
            <app-div-edc [(data)]="card" [readOnly]="!paymentMode.edc" [paymentFormValid]="fs.valid" 
              [(formValid)]="formValid.edc" [(submitted)]="fs.submitted" [payment]="payment" 
              [hidden]="!paymentMode.edc">
            </app-div-edc>
            <app-div-giro [(data)]="giro" [readOnly]="!paymentMode.giro"
              [(formValid)]="formValid.giro" [submitted]="fs.submitted" 
              [hidden]="!paymentMode.giro"></app-div-giro>
            <app-div-payer [(data)]="payer" [readOnly]="!paymentMode.payer"
              [(formValid)]="formValid.payer" [submitted]="fs.submitted" 
              [hidden]="!paymentMode.payer">
            </app-div-payer>
            <app-div-prepaid [(data)]="prepaid" [readOnly]="!paymentMode.prepaid" 
              [(formValid)]="formValid.prepaid" [submitted]="fs.submitted" 
              [patientInfo]="patientInfo" [hidden]="!paymentMode.prepaid" (dataChange)="updateAmount()">
            </app-div-prepaid>
            <app-div-qris [hidden]="!paymentMode.qris"></app-div-qris>
            <app-div-voucher [hidden]="!paymentMode.voucher"></app-div-voucher>
          </c-col>
        </c-row>
      </form>
    </c-card-body>
    <c-card-footer>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <ng-template contextDisposer let-context>
          <button cButton id="btnAdd" class="btn btn-primary btn-sm" [disabled]="disabledAdd"
            (click)="addPaymentMode()" *ngIf="context.checkAction('0223_add_payment')">
            <svg cIcon name="cilPlus" size="sm"></svg>
            Add
          </button>
        </ng-template>
        <button cButton id="btnSave" class="btn btn-primary btn-sm"
          (click)="submitAddPayment()" [disabled]="savePaymentProgress || disabledSave">
          <div *ngIf="!savePaymentProgress">
            <svg cIcon name="cilReload" size="sm"></svg> Save
          </div>
          <div *ngIf="savePaymentProgress">
            <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
            Loading...
          </div>
        </button>
        <button cButton id="btnCancel" [disabled]="disabledCancel || savePaymentProgress" class="btn btn-primary btn-sm"
          (click)="cancelAddPaymentMode()">
          <svg cIcon name="cilX" size="sm"></svg>
          Cancel
        </button>
      </div>
    </c-card-footer>
  </app-card-app>
</c-row>

<c-row ngPreserveWhitespaces>
  <ng-template contextDisposer let-context>
    <app-card-payment-settlement [type]="'payment'" [showFooter]="true"
        [patientInfo]="patientInfo" [invoice]="invoice" [params]="paymentSettlementParams"
        [showPrintOri]="context.checkAction('0225_print_invoice_original') || context.checkAction('0226_print_invoice_original_many_times')"
        [showPrintCopy]="context.checkAction('0227_print_invoice_copy')" [show]="showPaymentSettlementCard"
        [printOriManyTimes]="context.checkAction('0226_print_invoice_original_many_times')">
    </app-card-payment-settlement>
  </ng-template>
</c-row>

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card-body>
      <div class="text-center">
        <a [routerLink]="['/payment/invoice-list']" [state]="{ fromDetail: true }" id="btnCancel"
           class="btn btn-primary btn-sm">
          <svg cIcon name="cilArrowLeft" size="sm"></svg>
          Back
        </a>
      </div>
    </c-card-body>
  </c-col>
</c-row>
</div>