<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
   <c-container>
     <c-row class="justify-content-center">
       <c-col md="8">
         <c-card-group>
           <c-card class="p-4">
             <c-card-body>
               <form cForm [formGroup]="forgotPasswordForm">
                 <p class="text-medium-emphasis">Forget Password?</p>
                 <c-alert color="danger" class="d-flex align-items-center">
                   <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"
                   cIcon name="cilWarning">
                   </svg>
                   <div>Please input your active email</div>
                 </c-alert>
                 <div>
                   <c-input-group class="mb-3">
                     <span cInputGroupText>
                       <svg cIcon name="cilUser"></svg>
                     </span>
                     <input cFormControl placeholder="Username" type="text"
                      sizing="sm" formControlName="user_name" required
                      [autofocus]="true" [ngClass]="isFormValid('user_name')"/>
                      <div *ngIf="isFormError('user_name')" class="text-danger">
                        <div *ngFor="let e of getErrors('user_name') | keyvalue">{{ getErrorMessage('user_name', e.key) }}</div>
                      </div>
                   </c-input-group>
                   <c-input-group class="mb-3">
                     <span cInputGroupText>
                       <svg cIcon name="cilLockLocked"></svg>
                     </span>
                     <input cFormControl placeholder="Email" type="text"
                     sizing="sm" formControlName="email" required
                     [autofocus]="true" [ngClass]="isFormValid('email')"/>
                     <div *ngIf="isFormError('email')" class="text-danger">
                      <div *ngFor="let e of getErrors('email') | keyvalue">{{ getErrorMessage('email', e.key) }}</div>
                    </div>
                   </c-input-group>
                 </div>
                 <c-row>
                   <c-col xs="6">
                     <button cButton class="px-4" color="primary" (click)="onValidate()"
                     [disabled]="progress">
                       <div *ngIf="!progress">
                         Send
                       </div>
                       <div *ngIf="progress">
                         <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
                         Loading...
                       </div>
                     </button>
                   </c-col>
                 </c-row>
               </form>
             </c-card-body>
           </c-card>
           <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
             <c-card-body class="text-center">
               <div>
                 <img src="./assets/img/siloam-hospital.jpg" alt="" srcset="" height="270" width="270">
               </div>
             </c-card-body>
           </c-card>
         </c-card-group>
       </c-col>
     </c-row>
   </c-container>
 </div>
 