<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <form cForm>
            <app-card-app title="Cancel Reason">
                <c-card-body>
                    <c-row class="mb-3">
                        <c-col col="3">
                            Cancel Reason
                        </c-col>
                        <c-col col="3">
                            <input type="text" class="form-control form-control-sm" id="cancel-reason" disabled>
                        </c-col>
                        <c-col col="3">
                            Cancel Notes
                        </c-col>
                        <c-col col="3">
                            <input type="text" class="form-control form-control-sm" id="cancel-notes" disabled>
                        </c-col>
                    </c-row>
                    <c-row class="mb-3">
                        <c-col col="3">
                            Cancel Date
                        </c-col>
                        <c-col col="3">
                            <input type="text" class="form-control form-control-sm" id="cancel-date" disabled>
                        </c-col>
                        <c-col col="3">
                            Cancel By
                        </c-col>
                        <c-col col="3">
                            <input type="text" class="form-control form-control-sm" id="cancel-by" disabled>
                        </c-col>
                    </c-row>
                </c-card-body>
            </app-card-app>
        </form>
    </c-col>
</c-row>