// Here you can add other styles

.sidebar-nav .nav-group-items .nav-link {
  padding-left: 4.3rem !important;
  font-size: 12px !important;
}

.sidebar-nav .nav-icon {
  flex: 0 0 3rem !important;
}

td {
  font-weight: 350;
  font-size: 11px;
}

thead{
  font-size: 12px;
}

.btn-sm{
  font-size: 11px;
}

.card-header{
  font-size: 12px;
}

.form-label{
  font-size: 12px;
}

.form-select-sm{
  font-size: 12px;
}

.form-control-sm{
  font-size: 12px;
}

.col-form-label-sm{
  font-size: 12px;
}

.modal-xxl{
  max-width: 1400px;
}