<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
   <c-container>
     <c-row class="justify-content-center">
       <c-col md="8">
         <c-card-group>
           <c-card class="p-4">
             <c-card-body>
               <form cForm [formGroup]="changePasswordForm">
                 <p class="text-medium-emphasis">Change Password</p>
                 <c-alert color="warning" class="d-flex align-items-center">
                   <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"
                   cIcon name="cilWarning">
                   </svg>
                   <div>{{message}}</div>
                 </c-alert>
                 <div>
                   <c-input-group class="mb-3">
                     <span cInputGroupText>
                       <svg cIcon name="cilLockLocked"></svg>
                     </span>
                     <input autoComplete="current-password" cFormControl placeholder="Old Password" type="password"
                      sizing="sm" formControlName="old_password" required
                      (ngModelChange)="onChangeOldPassword()"
                      [autofocus]="true" [ngClass]="isFormValid('old_password')"/>
                      <div *ngIf="isFormError('old_password')" class="text-danger">
                        <div *ngFor="let e of getErrors('old_password') | keyvalue">{{ getErrorMessage('old_password', e.key) }}</div>
                      </div>
                   </c-input-group>
                   <c-input-group class="mb-3">
                     <span cInputGroupText>
                       <svg cIcon name="cilLockLocked"></svg>
                     </span>
                     <input cFormControl placeholder="New Password" type="password"
                      sizing="sm" formControlName="new_password" required
                      [autofocus]="true" [ngClass]="isFormValid('new_password')" (ngModelChange)="onChangeNewPassword()"/>
                      <div *ngIf="isFormError('new_password')" class="text-danger">
                        <div *ngFor="let e of getErrors('new_password') | keyvalue">{{ getErrorMessage('new_password', e.key) }}</div>
                      </div>
                   </c-input-group>
                   <c-input-group class="mb-3">
                     <span cInputGroupText>
                       <svg cIcon name="cilLockLocked"></svg>
                     </span>
                     <input cFormControl placeholder="Confirm New Password" type="password"
                      sizing="sm" formControlName="confirm_password" required
                      [autofocus]="true" [ngClass]="isFormValid('confirm_password')"
                      (ngModelChange)="onChangeConfirmPassword()"/>
                      <div *ngIf="isFormError('confirm_password')" class="text-danger">
                        <div *ngFor="let e of getErrors('confirm_password') | keyvalue">{{ getErrorMessage('confirm_password', e.key) }}</div>
                      </div>
                   </c-input-group>
                 </div>
                 <c-row>
                   <c-col xs="6">
                     <button cButton class="px-4" color="primary" (click)="onValidate()"
                     [disabled]="progress">
                       <div *ngIf="!progress">
                         Change Password
                       </div>
                       <div *ngIf="progress">
                         <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
                         Loading...
                       </div>
                     </button>
                   </c-col>
                 </c-row>
               </form>
             </c-card-body>
           </c-card>
           <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
             <c-card-body class="text-center">
               <div>
                 <img src="./assets/img/siloam-hospital.jpg" alt="" srcset="" height="270" width="270">
               </div>
             </c-card-body>
           </c-card>
         </c-card-group>
       </c-col>
     </c-row>
   </c-container>
 </div>
 